# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb

# Virtual environments
venv/
.venv/
env/

# Large files
*.csv
*.pkl
*.h5
*.zip
*.tar.gz
*.db
*.mp4
*.png
*.jpg

# Streamlit
.streamlit/

# macOS system files
.DS_Store
