# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac system files
.DS_Store

# Virtual environments
.venv/
venv/
env/
*.env

# IDE files
.idea/
.vscode/

# Data and models (if any)
*.csv
*.h5
*.pkl
data/
models/
