# Essential
streamlit
pandas
numpy
matplotlib
plotly
scikit-learn
yfinance
twelvedata
textblob
ta
nsetools
requests
beautifulsoup4

# Optional (used if you have chatbot / NLP features)
nltk
spacy
chatterbot
chatterbot-corpus
